<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <!-- Bootstrap -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab|Montserrat|Anton' rel='stylesheet' type='text/css'>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css" rel="stylesheet">

    {% if title %}
    <title>{{ title }} - Universiti Teknikal Melaka</title>
    {% else %}
    <title>UTeM Vote</title>
    {% endif %}

    {% from "macros.html" import nav_link with context %}

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container" style="font-family: 'Roboto Slab'">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/" style="font-family: Anton;"><i class="fa fa-bar-chart fa-lg" aria-hidden="true"></i> UTeM VOTE</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            {{ nav_link('index', 'Home') }}
            {{ nav_link('vote', 'Vote') }}
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if g.user.is_authenticated %}
              {{ nav_link('adminPanel', 'Control Panel') }}
              {{ nav_link('logout', 'Log out') }}
            {% else %}
              {{ nav_link('login', 'Admin Login') }}  
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
          {% for message in messages %}
            <div id="message1" class="alert alert-danger alert-dismissible flyover flyover-bottom fade">
              <strong>Alert!</strong> {{ message }}
            </div>  
          {% endfor %}
        {% endif %}
    {% endwith %}
    {% block headerimg %}{% endblock %}
  </head>
  <body style="padding-top: 50px; background-color: #EEE">
    <div class="container">
      <div style="font-family: 'Roboto Slab'">
        {% block content %}{% endblock %}
      </div>
    </div> <!-- container -->
   
	<footer class="footer">
		<div class="container">
      <p class="text-muted" style="float: right">Powered by <a href="https://python.org">Python</a> &amp; <i class="fa fa-heart" aria-hidden="true"></i>
 Copyright 2016</p>
		</div>
	</footer>


  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="/static/js/bootstrap.min.js"></script>

    <!-- Enable tooltip.js -->
    <script type="text/javascript">
    	$("[data-toggle='tooltip']").tooltip();
    </script>

    <!-- SocketIO -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>

    <!-- SocketIO users count -->
    <script type="text/javascript">
        $(document).ready(function() {
            var url = "http://" + document.domain + ":" + location.port;
            var socket = io.connect(url + "/dd");
            socket.on('msg', function(msg) {
                $("#connected").html(msg.count);
            });
        });
        $('#message1').toggleClass('in');
        window.setTimeout(function() { $("#message1").alert('close'); }, 4000);
    </script>

  </body>
</html>