{% extends "base.html" %}
{% block content %}
	{% if (vote == True) %}
		<div style="margin-top: 20px">
			<div class="row">
				<div class="col-md-8 col-sm-8 col-xs-12">
					<div class="panel panel-info">
						<div class="panel-heading">Pengerusi</div>
							<br>
							<hr style="margin-top: 6px; margin-bottom: 2px;  padding-top: 6px; padding-bottom: 2px; border-color: #bce8f1;">
								{% for user in users %}
									{% if (user.position=='Pengerusi') %}
										<div class="panel-body">
											<div class="row">
												<div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4">
													<img src="/static/usr/{{ user.image }}" onerror="this.src='/static/usr/thumbnail.png';" class="img-thumbnail img-responsive" style="width: 100px; overflow: hidden;">
												</div>
												<div class="col-lg-10 col-md-9 col-sm-9 col-xs-8">
													<span style="font-size: 22px"><strong>{{ user.name }}</strong></span>
													<span style="float: right; margin-top: 8px">
													<div class="radio-inline">
														<label><input type="radio" name="{{ user.position }}" value="{{ loop.index }}">Vote This</label>
													</div>
													</span>
													<hr style="margin-top: 2px; margin-bottom: 4px;  padding-top: 2px; padding-bottom: 4px">
													<span style="padding-top: 2px">
														<span style="float: left; width: 90px; font-weight: bold">Student ID</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.studentId }}<br>
														<span style="float: left; width: 90px; font-weight: bold">Faculty</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.faculty }}<br>
														<span style="float: left; width: 90px; font-weight: bold">Semester</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.semester }}<br>
														<span style="float: left; width: 90px; font-weight: bold">Year</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.year }}<br>
													</span>
												</div>
											</div>
										</div>
										<hr style="margin-top: 2px; margin-bottom: 2px; padding-top: 2px; padding-bottom: 2px; border-color: #bce8f1;">
									{% endif %}
								{% endfor %}
							<br>
						</div>

						<div class="text-center" style="padding-bottom: 20px">
							<i class="fa fa-arrow-circle-down fa-2x" aria-hidden="true"></i>
						</div>

						<div class="panel panel-info">
						<div class="panel-heading">Bendahari</div>
							<br>
							<hr style="margin-top: 6px; margin-bottom: 2px;  padding-top: 6px; padding-bottom: 2px; border-color: #bce8f1;">
								{% for user in users %}
									{% if (user.position=='Bendahari') %}
										<div class="panel-body">
											<div class="row">
												<div class="text-center col-lg-2 col-md-3 col-sm-3 col-xs-4">
													<img src="/static/usr/{{ user.image }}" onerror="this.src='/static/usr/thumbnail.png';" class="img-thumbnail img-responsive" style="width: 100px; overflow: hidden;">
												</div>
												<div class="col-lg-10 col-md-9 col-sm-9 col-xs-8">
													<span style="font-size: 22px"><strong>{{ user.name }}</strong></span>
													<span style="float: right; margin-top: 8px">
													<div class="radio-inline">
														<label><input type="radio" name="{{ user.position }}" value="{{ user.electionCode }}"  onClick="setP1('{{ user.electionCode }}')">Vote This</label>
													</div>
													</span>
													<hr style="margin-top: 2px; margin-bottom: 4px;  padding-top: 2px; padding-bottom: 4px">
													<span style="padding-top: 2px">
														<span style="float: left; width: 90px; font-weight: bold">Student ID</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.studentId }}<br>
														<span style="float: left; width: 90px; font-weight: bold">Faculty</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.faculty }}<br>
														<span style="float: left; width: 90px; font-weight: bold">Semester</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.semester }}<br>
														<span style="float: left; width: 90px; font-weight: bold">Year</span><span style="float: left; width: 1em; font-weight: bold"> : </span>{{ user.year }}<br>
													</span>
												</div>
											</div>
										</div>
										<hr style="margin-top: 2px; margin-bottom: 2px; padding-top: 2px; padding-bottom: 2px; border-color: #bce8f1;">
									{% endif %}
								{% endfor %}
							<br>
						</div>
				</div>
				<div class="col-md-4 col-sm-4 sidebar-outer">
					<div class="fixed col-md-4 col-sm-4 hidden-xs">
						<div class="panel panel-danger">
							<div class="panel-heading">
								How to vote
							</div>
							<div class="panel-body">
								<ol>
									<li>Select Candidate that you want to vote</li>
									<li>Send <code>VOTE <span id="pg">00</span></code> to <code>28882</code></li>
									<li>Wait for confirmation SMS</li>
									<li>Your vote have been recorded</li>
								</ol>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="text-center hidden visible-xs" style="margin-bottom: 40px">
				<a class="btn btn-primary btn-block" href="#">Cast Vote</a>
			</div>
		</div>
	{% else %}
		<div style="margin-top: 20px;">
			<div class="vertical-center">
				<div class="container">
					<div class="text-center" style="font-size: 45px">
						<i class="fa fa-spin fa-fw fa-refresh fa-3x" aria-hidden="true"></i><br>
						<span style="font-size: 22px">Voting is currently disabled</span><br>
						<a class="btn btn-primary visible-lg-inline visible-md-inline visible-sm-inline visible-xs-block" href="/"><i class="fa fa-home fa-lg" aria-hidden="true"> Home</i></a>
					</div>
				</div>
			</div>
		</div>
	{% endif %}

	<script type="text/javascript">
	function setP1(setting) {
	    myOption = setting;
	    document.getElementById("pg").innerHTML = myOption;
	}
	</script>
{% endblock %}
